<button mat-icon-button [matMenuTriggerFor]="providerMenu">
	<mat-icon>filter_list</mat-icon>
</button>
<mat-menu #providerMenu="matMenu" yPosition="below" class="height-500">
	<button mat-menu-item (click)="onFilterByProvider('')">
		All Providers
	</button>
	<button mat-menu-item *ngFor="let row of providerList" (click)="onFilterByProvider(row)">
		{{row}}
	</button>
</mat-menu>
