<form *ngIf="form" [formGroup]="form">
	<mat-form-field class="width-full">
		<mat-label>Search Game</mat-label>
		<i matPrefix class="fas fa-user margin-right-10"></i>
		<input formControlName="gameName" matInput placeholder="Search Game ...." [matAutocomplete]="auto" />
		<mat-icon matSuffix>search</mat-icon>
		<mat-error *ngIf="form.controls['gameName'].errors?.invalid">Invalid Input</mat-error>
		<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
			<mat-option *ngFor="let game of filteredGames | async" [value]="game.slug">
				{{game.slug}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</form>
