.display-block {
	display: block !important;
}

.display-inline-block {
	display: inline-block;
}

.display-flex {
	display: flex !important;
}

.display-inline-flex {
	display: inline-flex !important;
}

.justify-center {
	justify-content: center !important;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-direction-column {
	flex-direction: column !important;
}

.flex-direction-row {
	flex-direction: row !important;
}

.flex-wrap {
	flex-wrap: wrap !important;
}

.flex-align-center {
	align-items: center !important;
}

.flex-space-between {
	justify-content: space-between !important;
}

.flex-space-evenly {
	justify-content: space-between !important;
}

.flex-1 {
	flex: 1 !important;
}

.flex-2 {
	flex: 2 !important;
}

.flex-3 {
	flex: 3 !important;
}

.flex-end {
	justify-content: flex-end !important;
}

.justify-center {
	justify-content: center !important;
}
