.font-size-x-small {
	font-size: x-small !important;
}

.font-size-small {
	font-size: small !important;
}

.font-size-medium {
	font-size: medium !important;
}

.font-size-large {
	font-size: large !important;
}

.font-size-x-large {
	font-size: x-large !important;
}

.font-size-xx-large {
	font-size: xx-large !important;
}

.font-size-xxx-large {
	font-size: -webkit-xxx-large !important;
}

.height-full {
	height: -webkit-fill-available !important;
}

.width-full {
	width: 100% !important;
}

.width-responsive {
	width: -webkit-fill-available !important;
}

.width-fit-content {
	width: fit-content !important;
}
