<mat-nav-list class="height-full">
	<div class="display-flex flex-direction-column height-full flex-space-between">
		<div (click)="onToggleMenu()">
			<a routerLink="home" mat-list-item>
				<div class="flex-center">
					<mat-icon>home</mat-icon> &nbsp; Home
				</div>
			</a>
			<a routerLink="games" mat-list-item>
				<div class="flex-center">
					<mat-icon>sports_esports</mat-icon> &nbsp; Games
				</div>
			</a>
		</div>
	</div>
</mat-nav-list>
