<mat-card class="mat-elevation-z8" style="margin:10px">
	<mat-card-content>
		<div class="display-flex flex-space-between" style="width: 100%;">
			<b> Home</b>
			<ctl-filter (changed)="onFilterChanged($event)"></ctl-filter>
		</div>
		<app-game-list [filterValue]="filterValue"></app-game-list>
	</mat-card-content>
</mat-card>
