<button mat-icon-button color="primary" *ngIf="!showInput" aria-label="Search" (click)="onToggleInput(true)">
  <mat-icon>search</mat-icon>
</button>
<mat-form-field *ngIf="showInput" class="margin-top-10 font-size-small filter-input" floatLabel="never">
  <input matInput type="text" [(ngModel)]="filterValue" (keyup)="applyFilter()" placeholder="Filter">
  <button type="button" mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
    <mat-icon>close</mat-icon>
  </button>
  <button type="button" mat-button *ngIf="!filterValue" matSuffix mat-icon-button aria-label="Hide Search"
    (click)="onToggleInput(false)">
    <mat-icon>search_off</mat-icon>
  </button>
</mat-form-field>
