<div class="main-container theme">
	<ctl-toolbar></ctl-toolbar>
	<mat-sidenav-container class="application-sidenav-container">
		<mat-sidenav #snav fixedTopGap="56" [autoFocus]="false">
			<ctl-nav-list></ctl-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
