<table *ngIf="dataSource?.data?.length" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows
	style="width: 100%">
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
		<td mat-cell *matCellDef="let row">
			<i class="fas fa-coins"></i>&nbsp;&nbsp;{{ row.id }}
		</td>
	</ng-container>
	<ng-container matColumnDef="title">
		<th mat-header-cell *matHeaderCellDef>Title</th>
		<td mat-cell *matCellDef="let row">
			{{ row.title}}
		</td>
	</ng-container>
	<ng-container matColumnDef="provider">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Provider</th>
		<td mat-cell *matCellDef="let row">
			{{ row.providerName}}
		</td>
	</ng-container>
	<ng-container matColumnDef="tag">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Tag</th>
		<td mat-cell *matCellDef="let row">
			{{ row.tag}}
		</td>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
