.mat-column-image {
	width: 40px;
	height: 80px;
}

.mat-column-title {
	width: auto;
	padding-left: 5px;
}


.mat-column-button {
	width: 150px;
	text-align: right;
}

.avatar-image {
	width: 60px;
	height: 60px;
	position: relative;
	border-radius: 100%;
	overflow: hidden;
	box-shadow: 3px 9px 13px rgb(0 0 0 / 20%);
	border: 2px solid grey;
}

.avatar-image>div {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
