<table *ngIf="dataSource?.data?.length" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows
	class="width-full">
	<ng-container matColumnDef="image">
		<td mat-cell *matCellDef="let row">
			<div [ngClass]="row.thumb.url ? 'avatar-image' : 'circle-icon'">
				<div *ngIf="row.thumb.url" [style.backgroundImage]="'url('+ row.thumb.url +')'"></div>
			</div>
		</td>
	</ng-container>
	<ng-container matColumnDef="title">
		<td mat-cell *matCellDef="let row">
			<b>{{row.title}}</b>
			<div class="font-size-small">{{row.providerName}}</div>
			<div *ngIf="row.tag" class="font-size-x-small">{{row.tag}}</div>
		</td>
	</ng-container>
	<ng-container matColumnDef="button">
		<td mat-cell *matCellDef="let row">
			<button mat-raised-button color="primary" (click)="onPlayGame(row)">
				<i class="far fa-comment font-size-large"></i> Play for Fun
			</button>
		</td>
	</ng-container>
	<tr mat-row *matRowDef="let row; columns: displayedColumns" class="cursor-pointer"> </tr>
</table>
