<mat-card class="mat-elevation-z8" style="margin:10px">
	<mat-card-content>
		<div class="display-flex flex-space-between" style="width: 100%; margin-bottom: 20px;">
			<b class="font-size-x-large margin-20">Games</b>
			<div>
				<ctl-provider-picker [providers]="providers" (selectedProvider)="onFilterByProvider($event);">
				</ctl-provider-picker>

			</div>
		</div>
		<ctl-search (gameSearch)="onFilterSearch($event)"></ctl-search>
		<app-game-thumb [filterValue]="providerSelected" [onSearch]="games" (providers)="onProviderList($event);">
		</app-game-thumb>
	</mat-card-content>
</mat-card>
